@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work Sans Medium'; /*Can be any text*/
  src: local('WorkSans-Medium'),
    url('./../fonts/WorkSans-Medium.ttf') format('truetype');
}

body {
  font-family: Roboto, serif;
}
